%h1 Новости компании

%ul.articles
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
    = image_tag image_url('tmp/news_index_photo.png')
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
    = image_tag image_url('tmp/news_index_photo2.png')
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
    = image_tag image_url('tmp/news_index_photo2.png')
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.
  %li
    .event_date 15.05.2013
    %p
      "Верить или не верить?".  Достаточно надавить пальцем на глазное яблоко, и  все  реальные  предметы  -  в отличие от галлюцинаций - раздвоятся. Зеркало раздвоилось,  и в нем  появилось  мое  отражение  -  заспанная, встревоженная физиономия.  По ногам дуло.  Поджимая пальцы, я подошел к окну и выглянул.

