.full
  .left_column.awards
    %h1 Награды

    - if @award
      = image_tag @award.picture.main.url

  .right_column.articles
    %ul
      - @awards.each do |award|
        %li{ class: award.id == @award.id ? 'active' : '' }
          = link_to award do
            = image_tag award.picture.item.url





