.full
  .left_column
    %h1= @project.title

    - s = @project.main_item ? @project.main_item.picture.url : @project.picture.url
    = image_tag s, class: 'bg'

    = raw @project.content


  .right_column
    %ul
      - @project.project_items.each_with_index do |item, i|
        - cls = [ i == 0 ? 'active' : '', item.double ? 'double' : '' ].join(' ')
        %li{ class: cls }
          = image_tag item.picture.preview

