@import '_base.scss';

h1 {
  font: bold 16.5px/16.5px $title_font;
  margin-top: 0;
}

p {
  font-size: 13px;
  line-height: 15.5px;
}

ul.news {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    font-size: 14.5px;
    margin: 0 0 20px;
    p {
      margin: 0 0 10px;
      font-size: 14.5px;
      line-height: 16.5px;
    }
  }
}

ul.entries {
  list-style: none;
  margin: 0;
  padding: 0;
  & > li {
    // font-size: 14.5px;
    // line-height: 16.5px;
    float: left;
    text-align: center;
    height: 120px;
    padding: 10px 0 0;
    margin-bottom: 40px;
    .wrap {
      height: 120px;
      background-position: center center;
      background-repeat: no-repeat;
    }
    p {
      margin: 0;
      padding: 0 20px;
    }
  }
  &.x3 {
    & > li {
      width: 33%;
      &.c {
        width: 34%;
      }
    }
  }
  &.x4 {
    & > li {
      width: 25%;
    }
  }
  &.x5 {
    & > li {
      width: 20%;
    }
  }
  &.x6 {
    & > li {
      width: 16.7%;
      &.s {
        width: 16.6%;
      }
    }
  }
}
