@import '_base.scss';

html {

}

body {
  background: #fff;
  font: normal 13px/15.5px $normal_font;
}

header {
  font-weight: normal;
  font-family: $title_font;
  font-size: 14.5px;
  a {
    text-decoration: none;
    white-space: nowrap;
    color: #000;
  }
  .inner {
    margin: 0 2.8%;
    position: relative;
  }
  a.logo {
    position: absolute;
    z-index: 1000;
    top: 12px;
    left: -38px;
    width: 256px;
    height: 49px;
    background: image_url('logo.png') center center no-repeat;
  }
  nav {
    text-transform: capitalize;
    height: 70px;
    position: relative;
    ul#main_menu {
      position: absolute;
      right: 155px;
      top: 35px;
      margin: 0;
      list-style: none;
      width: 35%;
      & > li {
        float: left;
        width: 33%;
        text-align: center;
        &.active {
          position: relative;
          .wrap {
            display: inline-block;
            margin: 0 auto;
            position: relative;
            & > a {
              font-weight: bold;
              padding: 0 14px;
              background: image_url('menu_arrow.png') center right no-repeat;
            }
            ul {
              position: absolute;
              z-index: 1000;
              list-style: none;
              padding: 5px 12px;
              margin: 0;
              background: #fff;
              border: solid 2px #f6a41f;
              border-top: none;
              li {
                text-align: left;
                a {
                  font-size: 13px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

section#top_links {
  position: absolute;
  top: 35px;
  right: 0;
  .social {
    margin: 0 26px;
    float: left;
    a {
      display: block;
      width: 17px;
      height: 17px;
      float: left;
      margin-left: 9px;
      &.vkontakte {
        background: image_url('vkontakte.png') center center no-repeat;
      }
      &.facebook {
        background: image_url('facebook.png') center center no-repeat;
      }
    }
  }
}

ul#top_menu {
  height: 27px;
  background: #f6a41f;
  font-family: $title_font;
  font-size: 16.5px;
  list-style: none;
  padding: 0 2.8%;
  margin: 0;
  li {
    width: 25%;
    float: left;
    padding: 7px 0 0;
    a {
      text-decoration: none;
      color: #000;
    }
  }
}

ul#projects_index {
  padding: 0;
  list-style: none;
  padding: 0 2.8%;
  margin: 0;
  li {
    width: 25%;
    float: left;
    padding: 7px 0 27px;
    .wrap {
      width: 90%;
      a {
        float: left;
        width: 13px;
        height: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 2px 0;
        &.item_low {
          background-image: image_url('projects_index_item_low.png')
        }
        &.item_high {
          background-image: image_url('projects_index_item_high.png')
        }
        &.ready_low {
          background-image: image_url('projects_index_ready_low.png')
        }
        &.ready_high {
          background-image: image_url('projects_index_ready_high.png')
        }
      }
    }
  }
}

#content {
  clear: both;
  padding-right: 2.8%;
  position: relative;
  .present {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 2.8%;
    h1 {
      height: 23px;
      margin: 0;
      padding: 20px 0 0;
      font-family: $title_font;
      font-weight: normal;
      font-size: 16.5px;
    }
    a {
      display: block;
      width: 132px;
      height: 92px;
      margin-bottom: 22px;
      background: image_url('tmp/home_main_preview.png') no-repeat center center;
      border: solid 2px #fff;
    }
  }
  .left_column {
    width: 70%;
    overflow: hidden;
    float: left;
    position: relative;
    img.bg {
      display: block;
      width: 100%;
    }
  }
  .right_column {
    width: 30%;
    float: right;
    font-size: 13px;
    line-height: 15.5px;
    ul {
      list-style: none;
      padding: 0 0 0 7%;
      li {
        clear: left;
        p {
          margin-top: 5px;
          span {
            display: block;
          }
          img {
            float: right;
            margin: 0 0 15px 15px;
          }
        }
      }
    }
  }
}

#footer {
  clear: both;
  padding: 26px 2.8%;
  color: #777;
  font-size: 13px;
  line-height: 15.5px;
  .copy {
    float: left;
  }
  .contacts {
    float: right;
  }
}
