- f_class = -> x { [x.finished ? 'ready' : 'item', x.important ? 'high' : 'low'].join('_') }

#projects_index
  - if @project_categories
    %ul
      - @project_categories.each do |pc|
        %li
          .wrap
            - if pc.projects
              - pc.projects.each do |pr|
                -#%span{ class: f_class[pr] }
                - pr = pr.parent if pr.parent
                = link_to project_path(pr.id), class: f_class[pr] do
                  - if pr.picture
                    = image_tag image_url(pr.picture.index_item.url)

