-# f_class = -> { %w(item_low item_high ready_low ready_high)[rand(4)] }

#projects_index
  %ul
    - @project_categories.each do |pc|
      %li
        .wrap
          - if pc.projects
            - pc.projects.each do |pr|
              %span{ class: 'item_low' }
                - if pr.main_item
                  = image_tag image_url(pr.picture.index_item.url)
            =# link_to pc.title, projects_path(category: pc)

